.chat {
	height: 70vh;
}

.chat > * {
	background-color: #51B587;
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 100%;
}

#chatText {
	border-radius: 0;
  	font-size: 20px;
  	height: 60px;
}

.chatWindow {
	flex: 1;
}

.stageHandler {
	border: none;
	border-radius: 0;
	font-size: x-large;
	padding-top: 30px;
	padding-bottom: 22px;
}

.mainWindow {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	background: linear-gradient(#F5FFFD, #ECFFF3, #E4FFF8, #D7F7F3);
	display: flex;
	color: #51B587;
  	height: 100%;
}

.navbar {
	background-color: #264D4D;
	font-weight: bold;
	padding-top: 21px;
    padding-bottom: 16px;
    font-size: 30px;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}



