.rightSection {
  position: relative;
  bottom: 95px;
  margin-left: 75%;
}
.navBar {
  height: 110;
  margin-bottom: -100px; /*Don't know why I have to do this to fix the oversize navbar :( */
}

.linkList li {
  display: inline-block;
}
.signBtn {
  margin: 7px;
  padding: 5px;
  background-color: forestgreen;
  color: aliceblue;
  border-radius: 5px;
}
