body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

#color-bar {
  display: flex;
  flex-direction: row;
  height: 12px;
  margin: auto;
  width: 40%;
}

.color-box {
  width: 16.6%;
}

#color-box-1 {
  background-color: #FFD3D8;
}
#color-box-2 {
  background-color: #FFFFB7;
}

#color-box-3 {
  background-color: #094A38;
}

#color-box-4 {
  background-color: #3BAF82;
}
#color-box-5 {
  background-color: #86FFC8;
}
#color-box-6 {
  background-color: #EAFFFA;
}

.chat {
	height: 70vh;
}

.chat > * {
	background-color: #51B587;
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 100%;
}

#chatText {
	border-radius: 0;
  	font-size: 20px;
  	height: 60px;
}

.chatWindow {
	flex: 1;
}

.mainWindow {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	background: linear-gradient(#F5FFFD, #ECFFF3, #E4FFF8, #D7F7F3);
	display: flex;
	color: #51B587;
  	height: 100%;
}

.moodHelper {
	background-color: #fff;
	color: #51B587;
	font-size: x-large;
	padding-top: 21px;
	padding-bottom: 21px;
}

.navbar {
	background-color: #264D4D;
	font-weight: bold;
	padding-top: 21px;
    padding-bottom: 16px;
    font-size: 30px;
}

.ribbon {
	background-color: #51B587;
	height: 48px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	text-align: left;
	overflow-x: auto;
	white-space: nowrap;
}

.stageHandler {
	border: none;
	border-radius: 0;
	font-size: x-large;
	padding-top: 30px;
	padding-bottom: 22px;
}

.markerContainer {
  display: flex;
  margin: auto;
  width: 100%;
}

.space {
  flex-grow: 1;
  width: 99%;
}

.slider-left, .slider-right {
  font-size: 20px;
  text-align: center;
}

#splashPage > h1, h2, p, form, button {
  color: #264D4D;
}

#splashPage > h1 {
  margin-top: 20px;
}

#splashPage > p {
  margin-bottom: 60px;
}


#splashPage > h1, #color-bar, h2, form, button {
  margin-bottom: 30px;
}


#splashPage > p {
  font-size: 20px;
}

#email-form, #subscribe {
  width: 30%;
}

#subscribe {
  background-color: #264D4D;
  border: transparent;
  border-radius: 20px;
  box-shadow: 0 2px 7px 0 #8D8A84;
  color: #fff;
  height: 40px;
  font-size: 15px;
}

#subscribe:hover {
  cursor: pointer;
}

.moodRange {
  background: #fff;
  border: 2px solid #87B998;
  border-radius: 15px;
  height: 15px;
  width: 100%;
  transition: opacity .2s;
  -webkit-appearance: none;
  -webkit-transition: .2s;
}

.moodRange:hover {
  opacity: 1;
}

.moodRange::-moz-range-thumb {
  background: #87B998;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: -3px 0px 6px -2px gray;
  cursor: pointer;
  height: 30px;
  margin-bottom: 100px;
  width: 30px;
}

.moodRange::-webkit-slider-thumb {
  appearance: none;
  background: #87B998;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: -3px 0px 6px -2px gray;
  cursor: pointer;
  height: 30px;
  -webkit-appearance: none;
  width: 30px;
}

.slidecontainer {
  margin: auto;
  margin-top: 20vh;
  width: 90%;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.ribbonButton {
  background-color: #fff;
  color: #555555;
  font-size: 16px;
  margin-bottom: 6px;
}

.prompt {
  display: inline-block;
}

.group        {
  display: inline-block;
  position:relative;
  width: 30%;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 7px;
  display:block;
  width: 96%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width: 100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width: 100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}